


.nav-1 {
 display: flex;
 justify-content: space-around;
 color: white;
 background: black;
 padding: 15px;
 border-bottom: 15px solid purple;
}

.smallnav{
	background: white;
	color: black;
	border-bottom-style: inset;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 100px;
}

.smallnav ul {
	float: right;
	display: flex;
	width: 40%;
}



.smallnav-2 ul{
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	padding-top: 1px;
	margin-top: -29px;

}


.mediumnav{
	display: flex;

}



.mediumnav{
	border-bottom: 15px linear-gradient(to right, #E02AFF, #C12127, #FF4B01, #FB8817);
    background-image: linear-gradient(to right, rgb(224, 42, 255), rgb(193, 33, 39), rgb(255, 75, 1), rgb(251, 136, 23));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    height: 10px;



	/*padding-bottom: 30px; default code*/
}



form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  /*float: left;*/
  width: 50%;
  background: #f1f1f1;
 float: right;

}




.main-container-1{
	height: 600px;
	background: url(../images/rainb.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px;
	position: relative;

}


.main-container-1 h2 {

	 position: absolute;
	 bottom: 30%;
	 left: 35%;
	 font-size: 5rem;
	 font-family: Poppins,sans-serif;
	 font-weight: 600;
	 line-height: 1.25;
	 color: #fff;


}



.main-container-1 p {

	position: absolute;
	font-size: 1.5rem;
	top: 65%;
	left: 28%;
	 line-height: 1.5;
	 color: #fff;
	 font-weight: 700;
	 font-family: 'Arimo', sans-serif;

}


.main-container-2{
	height: 900px;
	

}

.box1{

margin-top: 6%;
margin-left: 40%;

}

.box1 img {

margin-top: 6%;
margin-left: 10%;


}

.box1 p {

margin-top: 3.5%;
/*margin-left: 20%;*/
align-items: center;

}

.box1 h3 {

margin-top: 3%;
align-items: center;

}



.btn   {
	 font-family: Poppins,sans-serif;
    position:absolute;
    top: 87%;
    left: 45%;
    font-weight: 900px;
    width: 200px;
    height: 50px;
    color: #fff;
	 font-weight: 700;
	 font-family: 'Arimo', sans-serif;

    background: #c12127;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(193, 33, 39);
    border-bottom: solid 5px #fa8717;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(250, 135, 23;
 

}


























